# Data Model Exercise

## Import library

In [28]:
import pymysql
import getpass

## Connect to RDBMS

In [9]:
try:
    my_db = pymysql.connect(host='localhost',
                            user='quincytromp',
                            password=getpass.getpass(),
                            autocommit=True)
    print("Successfully connected to MySQL database.")
except pymysql.Error as e:
    print("Error: Could not connect to MySQL database.")
    print(e)

········
Connected to MySQL database.

## Create cursor

In [11]:
try:
    my_cursor = my_db.cursor()
except pymysql.Error as e:
    print("Error: Could not get cursor to the database.")
    print(e)

## Create database

In [13]:
try:
    my_cursor.execute("CREATE DATABASE mypracticedb")
except pymysql.Error as e:
    print(e)

## Connect to database

In [15]:
try:
    my_db.close()
except pymysql.Error as e:
    print(e)
    
try: 
    my_db = pymysql.connect(host='localhost',
                            user='quincytromp',
                            password=getpass.getpass(),
                            database='mypracticedb',
                            autocommit=True)
except pymysql.Error as e:
    print("Error: Could not connect to database.")
    print(e)
    
try:
    my_cursor = my_db.cursor()
except pymysql.Error as e:
    print(e)

········

## Create Table

In [16]:
try:
    my_cursor.execute("CREATE TABLE students (student_id int, name varchar(128),\
    age int, gender varchar(8), subject varchar(32), marks int);")
except pymysql.Error as e:
    print("Error: Issue creating table.")
    print(e)

## Insert rows

In [21]:
try:
    my_cursor.execute("INSERT INTO students (student_id, name, age, gender, subject, marks) \
    VALUES (%s, %s, %s, %s, %s, %s)", (1, 'Raj', 23, 'Male', 'Python', 85))
except pymysql.Error as e:
    print("Error: Issue inserting data.")
    print(e)

try:
    my_cursor.execute("INSERT INTO students (student_id, name, age, gender, subject, marks) \
    VALUES (%s, %s, %s, %s, %s, %s)", (2, 'Priya', 22, 'Female', 'Python', 83))
except pymysql.Error as e:
    print("Error: Issue inserting data.")
    print(e)

## Validate data

In [25]:
try:
    my_cursor.execute("SELECT * FROM students;")
except pymysql.Error as e:
    print("Error: Failed to retrieve data.")
    print(e)
    
row = my_cursor.fetchone()
while row:
    print(row)
    row = my_cursor.fetchone()

(1, 'Raj', 23, 'Male', 'Python', 85)
(2, 'Priya', 22, 'Female', 'Python', 83)

## Close connection

In [26]:
my_cursor.close()
my_db.close()